@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

:global html {
  font-size: 62.5%;
}

:global body {
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
  color: #fff;
  background-color: #545a59;
  text-align: center;
}