@mixin led {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
}
.ledOff {
  @include led;
  box-shadow: #555555 0 -1px 7px 1px, inset #555555 0 -1px 9px, #555555 0 2px 12px;
}

.ledOn {
  @include led;
  box-shadow: #2F9CE9 0 -1px 7px 1px, inset #fff 0 -1px 9px, #7bb0d6 0 2px 12px;
}