.waveform {
  display: flex;
  align-items: center;
  padding: 1rem 0;

  &__btnWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 25% 0 0;
  }
  &__leds {
    flex: 20% 0 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  &__ledWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }
}

.oscillator {
  background-color: #333c3b;
  margin-left: 2rem ;
  width: 45%;
  max-height: 100%;
  color: #fff;
  font-size: 1.4rem;
  display: inline-block;
}

