.container{
  padding: 0 1rem;
  height: 20rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 85%  100%, 15% 100%, 0 70%);
  background-color: #444b49;
}

.waveform {
  display: flex;
  align-items: center;
  
  &__leds {
    flex: 5% 0 0;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  &__ledWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }
  &__knobsSession {
    margin-left: 5rem;
    display: flex;
  }
}

.oscillator {
  // background-color: #303534;
  max-height: 100%;
  color: #fff;
  font-size: 1.22rem;
  display: flex;
  align-items: center;
  
}

.unison {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 25% 0 0;
  margin-left: 4rem;
 }

.inputVoices {
  background-color: #484e4d;
  width: 3rem;
  color: #2F9CE9;
  border: none;
}
.knobWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 25% 0 0;
  &:not(:first-child) {
    margin-left: 5rem;
  }
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 25% 0 0;
  margin-bottom: 1rem;
}

.waveImg {
  width: 2rem;
  margin-left: 1rem;
}

